<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Responsive Shop Theme">
<meta name="keywords" content="responsive, retina ready, shop bootstrap template, html5, css3" />
<meta name="author" content="KingStudio.ro">

<!-- favicon -->
<link rel="icon" href="images/favicon.png">
<!-- page title -->
<!-- <title>inCart - Responsive Shop Theme</title>
 --><!-- bootstrap css -->
<!-- <link href="css/bootstrap.min.css" rel="stylesheet">
 --><!-- css -->
<!-- <link href="css/style.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/owl.carousel.css" rel="stylesheet">
<link href="css/owl.theme.css" rel="stylesheet"> -->
<!-- fonts -->
<!-- <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='fonts/FontAwesome.otf' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/linear-icons.css"> -->

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

<!-- <div class="spinner spinner-round"></div>
</div> -->
<!-- / preloader -->

<!-- content -->

<!-- about -->
<section id="about">
    <div class="container">
        <div class="text-wrap">
            <div class="page-header text-center space-top-30">
                <h3>About the Shop</h3>
            </div><!-- / page-header -->
            <p class="large-p">Wonderfull wood toys from Ukraine. We contribue to a calitative work-life-style for women and childrens who are working other there. By purchasing a toys you are also contributing to favorize a fight for those workers, often working in bad condition bla bla bla</p>
            <p class="large-p">Vestibulum maximus laoreet enim ut blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla facilisi. Curabitur posuere est ipsum, eu semper tellus sagittis ultricies. Pellentesque eget lorem tortor. Maecenas sit amet dignissim augue, non faucibus arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="page-header text-center space-top-30">
                <h3>About the Team</h3>
            </div><!-- / page-header -->
            <p class="large-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi dictum eget dolor ut venenatis. Mauris volutpat non nibh et vulputate. Nullam purus velit, feugiat id diam eu, sodales porta tellus. Nam a lacinia ante. Nulla ex purus, egestas in tempus ac, venenatis a metus. Sed pharetra ut turpis at mollis. Nunc ornare interdum libero, eu sodales magna posuere et. Vestibulum at orci elit. Nunc hendrerit urna.</p>
        </div><!-- / text-wrap -->
    </div><!-- / container -->
</section>
<!-- / about -->

<section id="testimonials">
    <div class="container">
        <div class="page-header text-center">
            <h3>MOTHER FUCKING BEST TEAM</h3>
        </div><!-- / page-header -->
        <div class="row">
            <!-- testimonial -->
            <div class="col-sm-4">
                <div class="testimonial text-center">
                    <%= image_tag('profilMax.jpg') %>
                   <h5>Max de Ponfilly</h5>
                    <p>Web Developer, front end, but also puissant free-bugger.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / testimonial -->

            <!-- testimonial -->
            <div class="col-sm-4">
                <div class="testimonial text-center">
                    <%= image_tag('profilH.jpg') %>
                    <h5>Helene Martin</h5>
                    <p>Web Developer, but also Super patient woman.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / testimonial -->

            <!-- testimonial -->
            <div class="col-sm-4">
                <div class="testimonial text-center">
                    <%= image_tag('profilM.jpg') %>
                    <h5>Margaux Cortier</h5>
                    <p>UX, UI designer, but also fucking good carot  cake cook.</p>
                </div>
            </div><!-- / col-md-4 -->
            <!-- / testimonial -->

        </div><!-- / row -->
    </div><!-- / container -->
</section>

<!-- brands carousel -->
<!-- / about -->

<!-- / content -->

<!-- javascript -->
<!-- <script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.min.js"></script> -->

<!-- sliders -->
<!-- <script src="js/owl.carousel.min.js"></script> -->
<!-- brands carousel -->
<script>
    $(document).ready(function() {
      $("#brands-carousel").owlCarousel({
        autoPlay: 5000, //set autoPlay to 5 seconds.
        items : 5,
        itemsDesktop : [1199,3],
        itemsDesktopSmall : [979,3]
      });

    });
</script>
<!-- / brands carousel -->
<!-- / sliders -->

<!-- preloader -->
<!-- <script src="js/preloader.js"></script>
 --><!-- / preloader -->

<!-- / javascript -->
</body>

</html>