<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Responsive Shop Theme">
<meta name="keywords" content="responsive, retina ready, shop bootstrap template, html5, css3" />
<meta name="author" content="KingStudio.ro">

<!-- favicon -->
<link rel="icon" href="images/favicon.png">
<!-- page title -->
<title>inCart - Components</title>
<!-- bootstrap css -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- css -->
<link href="css/style.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<!-- fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
<link href="css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='fonts/FontAwesome.otf' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="css/linear-icons.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->

</head>

<body>

<!-- preloader -->
<div id="preloader">
    <div class="spinner spinner-round"></div>
</div>
<!-- / preloader -->

<!-- header -->
<header>
    <div class="top-menu top-menu-inverse">
        <div class="container">
            <p>
                <span class="left">Free Worldwide shipping on orders over <span class="text-primary"><strong>$100</strong></span>!</span>
                <span class="right">
                    <a href="my-account.html"><i class="lnr lnr-user"></i> <span>My Account</span></a>
                    <a href="login-register.html"><i class="lnr lnr-lock"></i> <span>Login / Register</span></a>
                    <a href="shopping-cart.html"><i class="lnr lnr-cart"></i> <span>Shopping Cart (2)</span></a>
                </span>
            </p>
        </div><!-- / container -->
    </div><!-- / top-menu-inverse -->
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="images/logo.png" alt=""></a>
            </div><!-- / navbar-header -->
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="index.html">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
                        <ul class="dropdown-menu pulse animated">
                            <li><a href="shop-right.html">Shop: Right Sidebar</a></li>
                            <li><a href="shop-left.html">Shop: Left Sidebar</a></li>
                            <li><a href="shop-full.html">Shop: Full Width</a></li>
                            <li><a href="shop-filter.html">Shop: Filterable</a></li>
                            <li><a href="single-product.html">Single Product</a></li>
                            <li><a href="shopping-cart.html">Shopping Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                        </ul>
                    </li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="contact.html">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="caret"></span></a>
                        <ul class="dropdown-menu pulse animated">
                            <li><a href="login-register.html">Login / Register</a></li>
                            <li><a href="my-account.html">My Account</a></li>
                            <li><a href="single-post.html">Single Post</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="404.html">404 Page</a></li>
                            <li class="active"><a href="components.html">Components</a></li>
                        </ul>
                    </li>
                    <li class="dropdown w-image">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="images/eng.png" alt=""> <span class="caret"></span></a>
                        <ul class="dropdown-menu pulse animated">
                            <li><a href="#"><img src="images/fr.png" alt=""> FR</a></li>
                            <li><a href="#"><img src="images/de.png" alt=""> DE</a></li>
                            <li><a href="#"><img src="images/es.png" alt=""> ES</a></li>
                        </ul>
                    </li>    
                </ul>
            </div><!--/ nav-collapse -->
        </div><!-- / container -->
    </nav><!-- / navbar -->

    <div id="page-header" class="components">
        <div class="container">
            <div class="page-header-content text-center">
                <div class="page-header wsub">
                    <h1 class="page-title fadeInDown animated first">Components</h1>
                </div><!-- / page-header -->
                <p class="slide-text fadeInUp animated second">Bootstrap / Theme UI Components</p>
            </div><!-- / page-header-content -->
        </div><!-- / container -->
    </div><!-- / page-header -->

</header>
<!-- / header -->

<!-- typography -->
<div id="typography">
    <div class="container">
        <div class="page-header text-center space-top-2x">
            <h2>Typography</h2>
        </div>
        <div class="row">
            <!-- headings -->
            <div class="col-sm-3">
                <h4 class="sub-title">Headings</h4>
                <h1>H1 Heading</h1>
                <h2>H2 Heading</h2>
                <h3>H3 Heading</h3>
                <h4>H4 Heading</h4>
                <h5>H5 Heading</h5>
                <h6>H6 Heading</h6>
            </div>
            <!-- / headings -->

            <!-- paragraphs -->
            <div class="col-sm-5">
                <h4 class="sub-title">Paragraphs</h4>
                <p class="Lead"><strong>Large Paragraph ( Lead )</strong>. Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <p><strong>Regular Paragraph</strong>. Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <p class="text-sm"><strong>Small Paragraph</strong>. Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                <p class="text-xs"><strong>Extra Small Paragraph</strong>. Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <!-- / paragraphs -->

            <!-- lists -->
            <div class="col-sm-4">
                <h4 class="sub-title">Lists</h4>
                <ul class="list-featured space-bottom-20">
                    <li>Aliquam molestie quam in</li>
                    <li>Morbi quis neque non nisl</li>
                    <li>Vestibulum nisi nibh</li>
                    <li>Mauris pretium elit</li>
                    <li>Mauris vitae magna in</li>
                </ul>
                <ol>
                    <li>Aliquam molestie quam in</li>
                    <li>Morbi quis neque non nisl</li>
                    <li>Vestibulum nisi nibh</li>
                    <li>Mauris pretium elit</li>
                    <li>Mauris vitae magna in</li>
                </ol>
            </div>
            <!-- / lists -->
        </div><!-- / row -->

        <!-- titles -->
        <div class="row">
            <div class="col-sm-4">
                <div class="page-header text-left">
                    <h2>Title Left</h2>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="page-header text-center">
                    <h2>Title Center</h2>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="page-header text-right">
                    <h2>Title Right</h2>
                </div>
            </div>
        </div><!-- / row -->

        <div class="row">
            <div class="col-xs-12">
                <div class="page-header wsub text-left">
                    <h2>Title with Subtitle</h2>
                </div>
                <h4 class="sub-title">Subtitle Here...</h4>
            </div>
        </div><!-- / row -->
        <!-- / titles -->

        <div class="space-50">&nbsp;</div>

        <div class="row">
            <!-- text colors -->
            <div class="col-sm-5">
                <h4 class="sub-title">Text Colors</h4>
                <p class="text-default"><strong>Default</strong>. Aliquam molestie quam in tincidunt accumsan</p>
                <p class="text-primary"><strong>Primary</strong>. Morbi quis neque non nisl egestas laoreet</p>
                <p class="text-success"><strong>Success</strong>. Vestibulum nisi nibh, pulvinar sit amet lacinia</p>
                <p class="text-info"><strong>Info</strong>. Mauris pretium elit ac facilisis mollis posuere</p>
                <p class="text-warning"><strong>Warning</strong>. Mauris vitae magna in dolor porta aliquam</p>
                <p class="text-danger"><strong>Danger</strong>. Mauris vitae magna in dolor porta aliquam</p>
            </div>
            <!-- / text colors -->

            <!-- text backgrounds -->
            <div class="col-sm-7">
                <h4 class="sub-title">Text Backgrounds</h4>
                <p class="line-height-30"><span class="bg-default">Pellentesque iaculis</span> nisl vitae ligula volutpat, sit amet rhoncus nisl posuere. Vestibulum vel nisi euismod, <span class="bg-primary">commodo felis fermentum,</span> fringilla ex. Fusce vel mattis quam, id bibendum leo. Vivamus sollicitudin ligula ut ante bibendum, et <span class="bg-success">sollicitudin sem ultricies.</span> Interdum et malesuada <span class="bg-info">fames ac ante</span> ipsum primis in faucibus. Praesent laoreet ultrices tortor <span class="bg-warning">eget sollicitudin.</span> Vestibulum quis egestas mauris. Class aptent taciti sociosqu ad litora torquent per conubia nostra, <span class="bg-danger">per inceptos</span> himenaeos.</p>
            </div>
            <!-- / text backgrounds -->
        </div><!-- / row -->

        <div class="space-50">&nbsp;</div>

        <!-- blockquotes -->
        <div class="row">
            <div class="col-sm-6">
                <h4 class="sub-title">Blockquotes</h4>
                <blockquote>
                    <p>Quisque ut lorem tristique, vehicula nunc eget, semper mi. Proin urna ipsum, pulvinar et turpis et, malesuada vehicula urna.</p>
                    <cite>- James Doe</cite>
                </blockquote>
            </div>

            <div class="col-sm-6">
                <h4 class="sub-title">&nbsp;</h4>
                <blockquote class="blockquote-reverse">
                    <p>Quisque ut lorem tristique, vehicula nunc eget, semper mi. Proin urna ipsum, pulvinar et turpis et, malesuada vehicula urna.</p>
                    <cite>- James Doe</cite>
                </blockquote>
            </div>
        </div><!-- / row -->
        <!-- / blockquotes -->

        <div class="space-50">&nbsp;</div>

        <!-- 4col text blocks -->
        <h4 class="sub-title space-left">Text-Blocks</h4>
        <div class="row space-bottom-2x">
            <div class="col-sm-3">
                <p><strong>One Fourth.</strong> Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="col-sm-3">
                <p><strong>One Fourth.</strong> Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="col-sm-3">
                <p><strong>One Fourth.</strong> Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
            <div class="col-sm-3">
                <p><strong>One Fourth.</strong> Vivamus sollicitudin ligula ut ante bibendum, et sollicitudin sem ultricies. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            </div>
        </div><!-- / row -->
        <!-- / 4col text blocks -->

        <!-- 3col text blocks -->
        <div class="row space-bottom-2x">
            <div class="col-sm-4">
                <p><strong>One Third.</strong> Phasellus lobortis elit sed cursus ornare. Phasellus ut elit at nisl fringilla commodo nec non neque. Aliquam sed sagittis lorem, nec tempus lectus. Duis quis sollicitudin magna. Suspendisse sit amet orci venenatis</p>
            </div>
            <div class="col-sm-4">
                <p><strong>One Third.</strong> Phasellus lobortis elit sed cursus ornare. Phasellus ut elit at nisl fringilla commodo nec non neque. Aliquam sed sagittis lorem, nec tempus lectus. Duis quis sollicitudin magna. Suspendisse sit amet orci venenatis</p>
            </div>
            <div class="col-sm-4">
                <p><strong>One Third.</strong> Phasellus lobortis elit sed cursus ornare. Phasellus ut elit at nisl fringilla commodo nec non neque. Aliquam sed sagittis lorem, nec tempus lectus. Duis quis sollicitudin magna. Suspendisse sit amet orci venenatis</p>
            </div>
        </div><!-- / row -->
        <!-- / 3col text blocks -->

        <!-- 2col text blocks -->
        <div class="row space-bottom-2x">
            <div class="col-sm-6">
                <p><strong>One Half.</strong> Phasellus lobortis elit sed cursus ornare. Phasellus ut elit at nisl fringilla commodo nec non neque. Aliquam sed sagittis lorem, nec tempus lectus. Duis quis sollicitudin magna. Suspendisse sit amet orci venenatis, tempus leo eu, facilisis diam. Fusce vitae elit lobortis, efficitur purus nec, luctus ex. Phasellus volutpat ligula.</p>
            </div>
            <div class="col-sm-6">
                <p><strong>One Half.</strong> Phasellus lobortis elit sed cursus ornare. Phasellus ut elit at nisl fringilla commodo nec non neque. Aliquam sed sagittis lorem, nec tempus lectus. Duis quis sollicitudin magna. Suspendisse sit amet orci venenatis, tempus leo eu, facilisis diam. Fusce vitae elit lobortis, efficitur purus nec, luctus ex. Phasellus volutpat ligula.</p>
            </div>
        </div><!-- / row -->
        <!-- / 2col text blocks -->

        <!-- fullwidth text block -->
        <div class="row space-bottom-2x">
            <div class="col-sm-12">
                <p><strong>Full Width.</strong> Phasellus lobortis elit sed cursus ornare. Phasellus ut elit at nisl fringilla commodo nec non neque. Aliquam sed sagittis lorem, nec tempus lectus. Duis quis sollicitudin magna. Suspendisse sit amet orci venenatis, tempus leo eu, facilisis diam. Fusce vitae elit lobortis, efficitur purus nec, luctus ex. Phasellus volutpat ligula et neque sollicitudin tincidunt. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In varius magna nec sodales vehicula. Sed cursus lorem sit amet ligula semper mollis. Ut feugiat eget diam vel egestas. Phasellus sem neque, convallis eget nibh et, vulputate aliquam enim. Morbi interdum ante et metus semper placerat.</p>
            </div>
        </div><!-- / row -->
        <!-- / fullwidth text block -->
    </div><!-- / container -->
</div><!-- / typography -->

<div class="space-50">&nbsp;</div>

<!-- buttons -->
<div id="buttons">
    <div class="container">
        <div class="page-header text-center">
            <h2>Buttons</h2>
        </div>

        <!-- default buttons -->
        <h4 class="sub-title">Size, Style & Colors</h4>
        <p class="space-bottom">
            <button type="button" class="btn btn-lg btn-default">Large Default</button>
            <button type="button" class="btn btn-lg btn-default-filled">Large Default</button>
            <button type="button" class="btn btn-lg btn-default btn-rounded">Large Default</button>
            <button type="button" class="btn btn-lg btn-default-filled btn-rounded">Large Default</button>
            <button type="button" class="btn btn-lg btn-default btn-pill">Large Default</button>
            <button type="button" class="btn btn-lg btn-default-filled btn-pill">Large Default</button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn btn-lg btn-primary">Large Primary</button>
            <button type="button" class="btn btn-lg btn-primary-filled">Large Primary</button>
            <button type="button" class="btn btn-lg btn-primary btn-rounded">Large Primary</button>
            <button type="button" class="btn btn-lg btn-primary-filled btn-rounded">Large Primary</button>
            <button type="button" class="btn btn-lg btn-primary btn-pill">Large Primary</button>
            <button type="button" class="btn btn-lg btn-primary-filled btn-pill">Large Primary</button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn btn-lg btn-success">Large Success</button>
            <button type="button" class="btn btn-lg btn-success-filled">Large Success</button>
            <button type="button" class="btn btn-lg btn-success btn-rounded">Large Success</button>
            <button type="button" class="btn btn-lg btn-success-filled btn-rounded">Large Success</button>
            <button type="button" class="btn btn-lg btn-success btn-pill">Large Success</button>
            <button type="button" class="btn btn-lg btn-success-filled btn-pill">Large Success</button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn btn-info">Medium Info</button>
            <button type="button" class="btn btn-info-filled">Medium Info</button>
            <button type="button" class="btn btn-info btn-rounded">Medium Info</button>
            <button type="button" class="btn btn-info-filled btn-rounded">Medium Info</button>
            <button type="button" class="btn btn-info btn-pill">Medium Info</button>
            <button type="button" class="btn btn-info-filled btn-pill">Medium Info</button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn btn-sm btn-warning">Small Warning</button>
            <button type="button" class="btn btn-sm btn-warning-filled">Small Warning</button>
            <button type="button" class="btn btn-sm btn-warning btn-rounded">Small Warning</button>
            <button type="button" class="btn btn-sm btn-warning-filled btn-rounded">Small Warning</button>
            <button type="button" class="btn btn-sm btn-warning btn-pill">Small Warning</button>
            <button type="button" class="btn btn-sm btn-warning-filled btn-pill">Small Warning</button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn btn-xs btn-danger">X-Small</button>
            <button type="button" class="btn btn-xs btn-danger-filled">X-Small</button>
            <button type="button" class="btn btn-xs btn-danger btn-rounded">X-Small</button>
            <button type="button" class="btn btn-xs btn-danger-filled btn-rounded">X-Small</button>
            <button type="button" class="btn btn-xs btn-danger btn-pill">X-Small</button>
            <button type="button" class="btn btn-xs btn-danger-filled btn-pill">X-Small</button>
        </p>
        <!-- / default buttons -->

        <!-- buttons with icons -->
        <h4 class="sub-title space-top-2x">Buttons with Icons</h4>
        <p class="space-bottom">
            <button type="button" class="btn btn-default"><i class="fa fa-rocket"></i><span>Medium Default</span></button>
            <button type="button" class="btn btn-primary-filled"><i class="fa fa-rocket"></i><span>Medium Primary</span></button>
            <button type="button" class="btn btn-success btn-rounded"><i class="fa fa-rocket"></i><span>Medium Success</span></button>
            <button type="button" class="btn btn-info-filled btn-rounded"><i class="fa fa-rocket"></i><span>Medium Info</span></button>
            <button type="button" class="btn btn-warning btn-pill"><i class="fa fa-rocket"></i><span>Medium Warning</span></button>
            <button type="button" class="btn btn-danger-filled btn-pill"><i class="fa fa-rocket"></i><span>Medium Danger</span></button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn btn-default"><span>Medium Default</span><i class="fa fa-rocket"></i></button>
            <button type="button" class="btn btn-primary-filled"><span>Medium Primary</span><i class="fa fa-rocket"></i></button>
            <button type="button" class="btn btn-success btn-rounded"><span>Medium Success</span><i class="fa fa-rocket"></i></button>
            <button type="button" class="btn btn-info-filled btn-rounded"><span>Medium Info</span><i class="fa fa-rocket"></i></button>
            <button type="button" class="btn btn-warning btn-pill"><span>Medium Warning</span><i class="fa fa-rocket"></i></button>
            <button type="button" class="btn btn-danger-filled btn-pill"><span>Medium Danger</span><i class="fa fa-rocket"></i></button>
        </p>
        <!-- / buttons with icons -->

        <!-- social buttons -->
        <h4 class="sub-title space-top-2x">Social Buttons</h4>
        <p class="space-bottom">
            <button type="button" class="btn-social btn-facebook-filled btn-square"><i class="fa fa-facebook"></i></button>
            <button type="button" class="btn-social btn-facebook-filled btn-circle"><i class="fa fa-facebook"></i></button>
            <button type="button" class="btn-social btn-facebook btn-square"><i class="fa fa-facebook"></i></button>
            <button type="button" class="btn-social btn-facebook btn-circle"><i class="fa fa-facebook"></i></button>
            <button type="button" class="btn-social btn-facebook-filled btn-rounded"><i class="fa fa-facebook"></i> <span>Share - 18.2K</span></button>
            <button type="button" class="btn-social btn-facebook-link"><i class="fa fa-facebook"></i> <span>Share - 18.2K</span></button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn-social btn-twitter-filled btn-square"><i class="fa fa-twitter"></i></button>
            <button type="button" class="btn-social btn-twitter-filled btn-circle"><i class="fa fa-twitter"></i></button>
            <button type="button" class="btn-social btn-twitter btn-square"><i class="fa fa-twitter"></i></button>
            <button type="button" class="btn-social btn-twitter btn-circle"><i class="fa fa-twitter"></i></button>
            <button type="button" class="btn-social btn-twitter-filled btn-rounded"><i class="fa fa-twitter"></i> <span>Connect with Twitter</span></button>
            <button type="button" class="btn-social btn-twitter-link"><i class="fa fa-twitter"></i> <span>Connect with Twitter</span></button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn-social btn-google-filled btn-square"><i class="fa fa-google"></i></button>
            <button type="button" class="btn-social btn-google-filled btn-circle"><i class="fa fa-google"></i></button>
            <button type="button" class="btn-social btn-google btn-square"><i class="fa fa-google"></i></button>
            <button type="button" class="btn-social btn-google btn-circle"><i class="fa fa-google"></i></button>
            <button type="button" class="btn-social btn-google-filled btn-rounded"><i class="fa fa-google"></i> <span>Share on Google+</span></button>
            <button type="button" class="btn-social btn-google-link"><i class="fa fa-google"></i> <span>Share on Google+</span></button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn-social btn-linkedin-filled btn-square"><i class="fa fa-linkedin"></i></button>
            <button type="button" class="btn-social btn-linkedin-filled btn-circle"><i class="fa fa-linkedin"></i></button>
            <button type="button" class="btn-social btn-linkedin btn-square"><i class="fa fa-linkedin"></i></button>
            <button type="button" class="btn-social btn-linkedin btn-circle"><i class="fa fa-linkedin"></i></button>
            <button type="button" class="btn-social btn-linkedin-filled btn-rounded"><i class="fa fa-linkedin"></i> <span>Connect with linkedin</span></button>
            <button type="button" class="btn-social btn-linkedin-link"><i class="fa fa-linkedin"></i> <span>Connect with linkedin</span></button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn-social btn-pinterest-filled btn-square"><i class="fa fa-pinterest"></i></button>
            <button type="button" class="btn-social btn-pinterest-filled btn-circle"><i class="fa fa-pinterest"></i></button>
            <button type="button" class="btn-social btn-pinterest btn-square"><i class="fa fa-pinterest"></i></button>
            <button type="button" class="btn-social btn-pinterest btn-circle"><i class="fa fa-pinterest"></i></button>
            <button type="button" class="btn-social btn-pinterest-filled btn-rounded"><i class="fa fa-pinterest"></i> <span>Pin it - 1.8K</span></button>
            <button type="button" class="btn-social btn-pinterest-link"><i class="fa fa-pinterest"></i> <span>Pin it - 1.8K</span></button>
        </p>
        <p class="space-bottom">
            <button type="button" class="btn-social btn-dribbble-filled btn-square"><i class="fa fa-dribbble"></i></button>
            <button type="button" class="btn-social btn-dribbble-filled btn-circle"><i class="fa fa-dribbble"></i></button>
            <button type="button" class="btn-social btn-dribbble btn-square"><i class="fa fa-dribbble"></i></button>
            <button type="button" class="btn-social btn-dribbble btn-circle"><i class="fa fa-dribbble"></i></button>
            <button type="button" class="btn-social btn-dribbble-filled btn-rounded"><i class="fa fa-dribbble"></i> <span>Find Us on Dribbble</span></button>
            <button type="button" class="btn-social btn-dribbble-link"><i class="fa fa-dribbble"></i> <span>Find Us on Dribbble</span></button>
        </p>
        <!-- / social buttons -->
    </div><!-- / container -->
</div><!-- / buttons -->

<!-- special buttons -->
<div id="special-buttons">
    <div class="container">
        <div class="row">
            <!-- checkboxes -->
            <div class="col-sm-3">
                <h4 class="sub-title space-top-2x space-bottom-2x">Checkboxes</h4>
                <div class="checkbox checkbox-default space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox1" type="checkbox" checked="">
                    <label for="checkbox1"><span>Default</span></label>
                </div>
                <div class="checkbox checkbox-primary space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox2" type="checkbox" checked="">
                    <label for="checkbox2"><span>Primary</span></label>
                </div>
                <div class="checkbox checkbox-success space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox3" type="checkbox" checked="">
                    <label for="checkbox3"><span>Success</span></label>
                </div>
                <div class="checkbox checkbox-info space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox4" type="checkbox" checked="">
                    <label for="checkbox4"><span>Info</span></label>
                </div>
                <div class="checkbox checkbox-warning space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox5" type="checkbox" checked="">
                    <label for="checkbox5"><span>Warning</span></label>
                </div>
                <div class="checkbox checkbox-danger space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox6" type="checkbox" checked="">
                    <label for="checkbox6"><span>Danger</span></label>
                </div>

                <h4 class="sub-title space-bottom-2x space-top-2x">States</h4>
                <div class="checkbox checkbox-default space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox7" type="checkbox">
                    <label for="checkbox7"><span>Unchecked</span></label>
                </div>
                <div class="checkbox checkbox-primary space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox8" type="checkbox" checked="">
                    <label for="checkbox8"><span>Checked</span></label>
                </div>
                <div class="checkbox checkbox-default space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox9" type="checkbox" disabled>
                    <label for="checkbox9"><span>Disabled Unchecked</span></label>
                </div>
                <div class="checkbox checkbox-default space-bottom">
                    <label class="hide"><input type="checkbox"></label>
                    <input id="checkbox10" type="checkbox" checked="" disabled>
                    <label for="checkbox10"><span>Disabled Checked</span></label>
                </div>
            </div><!-- / col-sm-3 -->
            <!-- / checkboxes -->

            <!-- radio buttons -->
            <div class="col-sm-3">
                <h4 class="sub-title space-top-2x space-bottom-2x">Radio Buttons</h4>
                <div class="radio radio-default space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                    <label for="radio1"><span>Default</span></label>
                </div>
                <div class="radio radio-primary space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio2" id="radio2" value="option2" checked="">
                    <label for="radio2"><span>Primary</span></label>
                </div>
                <div class="radio radio-success space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio3" id="radio3" value="option3" checked="">
                    <label for="radio3"><span>Success</span></label>
                </div>
                <div class="radio radio-info space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio4" id="radio4" value="option4" checked="">
                    <label for="radio4"><span>Info</span></label>
                </div>
                <div class="radio radio-warning space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio5" id="radio5" value="option5" checked="">
                    <label for="radio5"><span>Warning</span></label>
                </div>
                <div class="radio radio-danger space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio6" id="radio6" value="option6" checked="">
                    <label for="radio6"><span>Danger</span></label>
                </div>

                <h4 class="sub-title space-bottom-2x space-top-2x">States</h4>
                <div class="radio radio-default space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio7" id="radio7" value="option7">
                    <label for="radio7"><span>Radio is Off</span></label>
                </div>
                <div class="radio radio-primary space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio8" id="radio8" value="option8" checked="">
                    <label for="radio8"><span>Radio is On</span></label>
                </div>
                <div class="radio space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio9" id="radio9" value="option9" disabled>
                    <label for="radio9"><span>Disabled Radio is Off</span></label>
                </div>
                <div class="radio radio-default space-bottom">
                    <label class="hide"><input type="radio"></label>
                    <input type="radio" name="radio10" id="radio10" value="option10" checked="" disabled>
                    <label for="radio10"><span>Disabled Radio is On</span></label>
                </div>
            </div><!-- col-sm-3 -->
            <!-- / radio buttons -->

            <!-- paginations -->
            <div class="col-sm-6">
                <h4 class="sub-title space-top-2x">Paginations</h4>
                <div class="pagination">
                    <button type="button" class="btn btn-direction btn-default btn-rounded"><i class="lnr lnr-chevron-left"></i></button>
                     <button type="button" class="btn btn-default btn-rounded">1</button>
                     <button type="button" class="btn btn-default btn-rounded">2</button>
                     <button type="button" class="btn btn-default btn-rounded btn-active">3</button>
                     <button type="button" class="btn btn-default btn-rounded">4</button>
                     <button type="button" class="btn btn-default btn-rounded">5</button>
                     <button type="button" class="btn btn-direction btn-default btn-rounded"><i class="lnr lnr-chevron-right"></i></button>
                </div>
                <div class="pagination">
                    <button type="button" class="btn btn-direction btn-default-filled btn-rounded"><i class="lnr lnr-chevron-left"></i></button>
                     <button type="button" class="btn btn-default-filled btn-rounded">1</button>
                     <button type="button" class="btn btn-default-filled btn-rounded">2</button>
                     <button type="button" class="btn btn-default-filled btn-rounded btn-active">3</button>
                     <button type="button" class="btn btn-default-filled btn-rounded">4</button>
                     <button type="button" class="btn btn-default-filled btn-rounded">5</button>
                     <button type="button" class="btn btn-direction btn-default-filled btn-rounded"><i class="lnr lnr-chevron-right"></i></button>
                </div>
            </div><!-- / col-sm-6 -->
            <!-- / paginations -->

        </div><!-- / row -->
        <div class="space-100"></div>
    </div><!-- / container -->
</div>
<!-- / special buttons -->

<div class="space-50">&nbsp;</div>

<!-- tabs-accordions -->
<div id="tabs-accordions">
    <div class="container">
        <!-- tabs -->
        <div class="page-header text-center">
            <h2>Tabs & Accordions</h2>
        </div>
        <!-- default tabs -->
        <h4 class="sub-title space-left">Tabs</h4>
        <div class="row">
            <!-- tabs left -->
            <div class="col-sm-6">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#tab1" role="tab" data-toggle="tab" aria-expanded="true">Tab 1</a></li>
                    <li class=""><a href="#tab2" role="tab" data-toggle="tab" aria-expanded="false">Tab 2</a></li>
                    <li class=""><a href="#tab3" role="tab" data-toggle="tab" aria-expanded="false">Tab 3</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab1">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab2">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab3">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                </div>
            </div><!-- / col-sm-6 -->
            <!-- / tabs left -->

            <!-- tabs right -->
            <div class="col-sm-6">
                <ul class="nav nav-tabs text-right" role="tablist">
                    <li class="active"><a href="#tab4" role="tab" data-toggle="tab" aria-expanded="true">Tab 1</a></li>
                    <li class=""><a href="#tab5" role="tab" data-toggle="tab" aria-expanded="false">Tab 2</a></li>
                    <li class=""><a href="#tab6" role="tab" data-toggle="tab" aria-expanded="false">Tab 3</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab4">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab5">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab6">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                </div>
            </div><!-- / col-sm-6 -->
            <!-- / tabs right -->
        </div><!-- / row -->
        <!-- / default tabs -->

        <div class="space-50">&nbsp;</div>

        <!-- tabs pills -->
        <div class="row">
            <!-- tabs left -->
            <div class="col-sm-6">
                <ul class="nav nav-pills" role="tablist">
                    <li class="active"><a href="#tab7" role="tab" data-toggle="tab" aria-expanded="true">Tab 1</a></li>
                    <li class=""><a href="#tab8" role="tab" data-toggle="tab" aria-expanded="false">Tab 2</a></li>
                    <li class=""><a href="#tab9" role="tab" data-toggle="tab" aria-expanded="false">Tab 3</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab7">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab8">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab9">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                </div>
            </div><!-- / col-sm-6 -->
            <!-- / tabs left -->

            <!-- tabs right -->
            <div class="col-sm-6">
                <ul class="nav nav-pills text-right" role="tablist">
                    <li class="active"><a href="#tab10" role="tab" data-toggle="tab" aria-expanded="true">Tab 1</a></li>
                    <li class=""><a href="#tab11" role="tab" data-toggle="tab" aria-expanded="false">Tab 2</a></li>
                    <li class=""><a href="#tab12" role="tab" data-toggle="tab" aria-expanded="false">Tab 3</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane animated fadeIn active" id="tab10">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab11">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                    <div role="tabpanel" class="tab-pane animated fadeIn" id="tab12">Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget, commodo imperdiet turpis. Nulla sodales purus eu augue semper, et tincidunt nisl placerat.</div>
                </div>
            </div><!-- / col-sm-6 -->
            <!-- / tabs right -->
        </div><!-- / row -->
        <!-- / tabs pills -->
        <!-- / tabs -->

        <div class="space-50">&nbsp;</div>

        <!-- accordions -->
        <div class="row">
            <!-- default accordions -->
            <div class="col-sm-6">
                <h4 class="sub-title">Accordions</h4>
                <div class="panel-group">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel1">First Accordion</a>
                    </div>
                    <div id="panel1" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget placerat.
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" href="#panel2">Second Accordion > Active</a>
                    </div>
                    <div id="panel2" class="panel-collapse collapse in">
                        <div class="panel-body text-gray">
                        Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget placerat.
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel3">Third Accordion</a>
                    </div>
                    <div id="panel3" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget placerat.
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
            </div><!-- / col-sm-6 -->
            <!-- / default accordions -->

            <!-- tabbed accordions -->
            <div class="col-sm-6">
                <h4 class="sub-title">&nbsp;</h4>
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel4">First Accordion</a>
                    </div>
                    <div id="panel4" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget placerat.
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title" data-toggle="collapse" href="#panel5">Second Accordion > Active</a>
                    </div>
                    <div id="panel5" class="panel-collapse collapse in">
                        <div class="panel-body text-gray">
                        Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget placerat.
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
                <div class="panel-group tabbed">
                    <div class="panel">
                    <div class="panel-heading">
                        <a class="panel-title collapsed" data-toggle="collapse" href="#panel6">Third Accordion</a>
                    </div>
                    <div id="panel6" class="panel-collapse collapse">
                        <div class="panel-body text-gray">
                        Curabitur convallis nunc urna, sit amet pulvinar neque commodo in. Fusce vel ex sed nisi consequat molestie a quis massa. Maecenas vel dictum magna. Aenean non mauris accumsan massa efficitur molestie vel tristique nibh. Phasellus magna odio, feugiat ac leo eget placerat.
                        </div>
                    </div>
                    </div><!-- / panel -->
                </div><!-- / panel-group -->
            </div><!-- / col-sm-6 -->
            <!-- / tabbed accordions -->
        </div><!-- / row -->
    </div><!-- / container -->
</div>
<!-- tabs-accordions -->

<div class="space-50">&nbsp;</div>

<!-- labels, badges and alerts -->
<div id="lba">
    <div class="container">
        <div class="page-header text-center">
            <h2>Labels, Badges & Alerts</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="sub-title">Labels</h4>
                <!-- default labels -->
                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>
                <!-- / default labels -->

                <div class="space-25">&nbsp;</div>

                <!-- default filled labels -->
                <span class="label label-default-filled">Default</span>
                <span class="label label-primary-filled">Primary</span>
                <span class="label label-success-filled">Success</span>
                <span class="label label-info-filled">Info</span>
                <span class="label label-warning-filled">Warning</span>
                <span class="label label-danger-filled">Danger</span>
                <!-- / default filled labels -->

                <div class="space-25">&nbsp;</div>

                <!-- pill labels -->
                <span class="label label-pill label-default">Default</span>
                <span class="label label-pill label-primary">Primary</span>
                <span class="label label-pill label-success">Success</span>
                <span class="label label-pill label-info">Info</span>
                <span class="label label-pill label-warning">Warning</span>
                <span class="label label-pill label-danger">Danger</span>
                <!-- / pill labels -->

                <div class="space-25">&nbsp;</div>

                <!-- pill filled labels -->
                <span class="label label-pill label-default-filled">Default</span>
                <span class="label label-pill label-primary-filled">Primary</span>
                <span class="label label-pill label-success-filled">Success</span>
                <span class="label label-pill label-info-filled">Info</span>
                <span class="label label-pill label-warning-filled">Warning</span>
                <span class="label label-pill label-danger-filled">Danger</span>
                <!-- /pill filled labels -->

                <div class="space-50">&nbsp;</div>

                <!-- badges -->
                <h4 class="sub-title">Badges</h4>
                <p>
                    <a href="#" class="space-right">Home <span class="badge">12</span></a>
                    <a href="#" class="space-right">Profile</a>
                    <a href="#" class="space-right">Messages <span class="badge">7</span></a>
                </p>

                <div class="space-50">&nbsp;</div>

            </div><!-- / col-md-6 -->

            <div class="col-md-6">
                <h4 class="sub-title">Alerts</h4>
                <!-- alerts -->
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Success!</strong> You successfully read this important alert message.
                </div>
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Info!</strong> This alert needs your attention, but it's not important.
                </div>
                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Danger!</strong> Change a few things up and try submitting again.
                </div>
                <!-- / alerts -->
            </div><!-- / col-md-6 -->
        </div><!-- / row -->
    </div><!-- / container -->
</div><!-- lba -->

<div class="space-50">&nbsp;</div>

<!-- listgroups-panels -->
<div id="listgroups-panels">
    <div class="container">
        <div class="page-header text-center">
            <h2>Listgroups & Panels</h2>
        </div>

        <!-- listgroups -->
        <h4 class="sub-title space-left">Listgroups</h4>
        <div class="row">
            <!-- default listgroups -->
            <div class="col-sm-4">
                <ul class="list-group">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div><!-- / col-sm-4 -->
            <!-- / default listgroups -->

            <!-- linked listgroups -->
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">Cras justo odio - active</a>
                    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                    <a href="#" class="list-group-item">Morbi leo risus</a>
                    <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                    <a href="#" class="list-group-item">Vestibulum at eros</a>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / linked listgroups -->

            <!-- linked listgroups -->
            <div class="col-sm-4">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus sed diam vivamus set et.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus sed diam vivamus set et.</p>
                    </a>
                    <a href="#" class="list-group-item">
                        <h5 class="list-group-item-heading">List group item heading</h5>
                        <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus sed diam vivamus set et.</p>
                    </a>
                </div>
            </div><!-- / col-sm-4 -->
            <!-- / linked listgroups -->
        </div><!-- / row -->
        <!-- / listgroups -->

        <div class="space-50">&nbsp;</div>

        <!-- panels -->
        <h4 class="sub-title space-left">Panels</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div><!-- / panel -->
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div><!-- / panel -->             
            </div><!-- / col-sm-4 -->

            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div><!-- / panel -->
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div><!-- / panel -->  
            </div><!-- / col-sm-4 -->

            <div class="col-sm-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div><!-- / panel -->
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body">
                        Panel content
                    </div>
                </div><!-- / panel -->  
            </div><!-- / col-sm-4 -->
        </div><!-- / row -->

        <div class="space-50">&nbsp;</div>

        <!-- well -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Well</h4>
                <div class="well"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Aenean lacinia bibendum nulla.
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / well -->

        <div class="space-50">&nbsp;</div>

        <!-- jumbotron -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Jumbotron</h4>
                <div class="jumbotron">
                    <h1>Jumbotron Heading</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cras mattis consectetur purus sit amet fermentum.</p>
                    <a href="#" class="btn btn-lg btn-primary-filled" role="button">Learn More</a>
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        <!-- / jumbotron -->
    </div><!-- / container -->
</div><!-- / listgroups-panels -->

<div class="space-50">&nbsp;</div>

<!-- progress-bars -->
<div id="progress-bars">
    <div class="container">
        <div class="page-header text-center">
            <h2>Progress Bars</h2>
        </div>
        <!-- default progress bars -->
        <div class="row">
            <div class="col-md-6">
                <h4 class="sub-title">Progress Bars</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-default animated fadeInLeft" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                    </div>
                </div><!-- / progress -->
                <div class="progress">
                    <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                    </div>
                </div><!-- / progress -->
                <div class="progress">
                    <div class="progress-bar progress-bar-success animated fadeInLeft" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                    </div>
                </div><!-- / progress -->
                <div class="progress">
                    <div class="progress-bar progress-bar-info animated fadeInLeft" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    </div>
                </div><!-- / progress -->
                <div class="progress">
                    <div class="progress-bar progress-bar-warning animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    </div>
                </div><!-- / progress -->
                <div class="progress">
                    <div class="progress-bar progress-bar-danger animated fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                    </div>
                </div><!-- / progress -->

                <div class="space-50">&nbsp;</div>

                <h4 class="sub-title">Stacked</h4>
                <!-- progress-bars stacked -->
                <div class="progress">
                    <div class="progress-bar progress-bar-success animated fadeInLeft" style="width: 40%">
                    </div>
                    <div class="progress-bar progress-bar-warning animated fadeInLeft" style="width: 20%">
                    </div>
                    <div class="progress-bar progress-bar-danger animated fadeInLeft" style="width: 10%">
                    </div>
                </div>

                <div class="space-25">&nbsp;</div>

                <div class="progress">
                    <div class="progress-bar progress-bar-primary animated fadeInLeft" style="width: 50%">
                    </div>
                    <div class="progress-bar progress-bar-info animated fadeInLeft" style="width: 30%">
                    </div>
                    <div class="progress-bar progress-bar-success animated fadeInLeft" style="width: 20%">
                    </div>
                </div>
                <!-- / progress-bars stacked -->
            </div><!-- / col-md-6 -->

            <!-- progress bars with labels -->
            <div class="col-md-6">
                <h4 class="sub-title">Progress Bars with Labels</h4>
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-default animated fadeInLeft" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40%</span>
                    </div>
                </div><!-- / progress -->
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-primary animated fadeInLeft" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                        <span class="sr-only">50%</span>
                    </div>
                </div><!-- / progress -->
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-success animated fadeInLeft" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60%</span>
                    </div>
                </div><!-- / progress -->
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-info animated fadeInLeft" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        <span class="sr-only">70%</span>
                    </div>
                </div><!-- / progress -->
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-warning animated fadeInLeft" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80%</span>
                    </div>
                </div><!-- / progress -->
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-danger animated fadeInLeft" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                        <span class="sr-only">90%</span>
                    </div>
                </div><!-- / progress -->

                <div class="space-50">&nbsp;</div>

                <h4 class="sub-title">Stacked with Labels</h4>
                <!-- progress-bars stacked with labels -->
                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-success animated fadeInLeft" style="width: 40%">
                        <span class="sr-only">40%</span>
                    </div>
                    <div class="progress-bar progress-bar-warning animated fadeInLeft" style="width: 20%">
                        <span class="sr-only">20%</span>
                    </div>
                    <div class="progress-bar progress-bar-danger animated fadeInLeft" style="width: 10%">
                        <span class="sr-only">10%</span>
                    </div>
                </div>

                <div class="space-25">&nbsp;</div>

                <div class="progress progress-label">
                    <div class="progress-bar progress-bar-primary animated fadeInLeft" style="width: 50%">
                        <span class="sr-only">50%</span>
                    </div>
                    <div class="progress-bar progress-bar-info animated fadeInLeft" style="width: 30%">
                        <span class="sr-only">30%</span>
                    </div>
                    <div class="progress-bar progress-bar-success animated fadeInLeft" style="width: 20%">
                        <span class="sr-only">20%</span>
                    </div>
                </div>
                <!-- / progress-bars stacked -->
            </div><!-- / col-md-6 -->
            <!-- / default progress bars -->
        </div><!-- / row -->
    </div><!-- container -->
</div><!-- / progress-bars -->

<div class="space-50">&nbsp;</div>

<!-- footer -->
<footer class="light-footer">
    <div class="widget-area">
        <div class="container">
            <div class="row">

                <div class="col-sm-6 col-md-4 widget">
                    <div class="about-widget">
                        <div class="widget-title-image">
                            <img src="images/logo.png" alt="">
                        </div>
                        <p>Praesent sed congue ipsum. Nullam tempus ornare est, non aliquet velit tincidunt elementum. Nulla at risus ut felis eleifend. Nulla non lacinia. Integer est lacus, ultricies sed feugiat id, maximus nec.</p>
                    </div><!-- / about-widget -->
                </div><!-- / widget -->
                <!-- / first widget -->

                <div class="col-sm-6 col-md-2 widget">
                    <div class="widget-title">
                        <h4>Brands</h4>
                    </div>
                    <div class="link-widget">
                        <div class="info">
                            <a href="#x">Marco REA</a>
                        </div>
                        <div class="info">
                            <a href="#x">3Days</a>
                        </div>
                        <div class="info">
                            <a href="#x">La Barcelona</a>
                        </div>
                        <div class="info">
                            <a href="#x">Lora Towers</a>
                        </div>
                        <div class="info">
                            <a href="#x">Ginneys</a>
                        </div>
                    </div>
                </div><!-- / widget -->
                <!-- / second widget -->

                <div class="col-sm-6 col-md-2 widget">
                    <div class="widget-title">
                        <h4>Support</h4>
                    </div>
                    <div class="link-widget">
                        <div class="info">
                            <a href="#x">Privacy Policy</a>
                        </div>
                        <div class="info">
                            <a href="#x">Shipping & Return</a>
                        </div>
                        <div class="info">
                            <a href="#x">Terms & Conditions</a>
                        </div>
                        <div class="info">
                            <a href="faq.html">F.A.Q</a>
                        </div>
                        <div class="info">
                            <a href="contact.html">Contact</a>
                        </div>
                    </div>
                </div><!-- / widget -->
                <!-- / third widget -->

                <div class="col-sm-6 col-md-4 widget">
                    <div class="widget-title">
                        <h4>Get in Touch</h4>
                    </div>
                    <div class="contact-widget">
                        <div class="info">
                            <p><i class="lnr lnr-map-marker"></i><span>Miami, S Miami Ave, SW 20th.</span></p>
                        </div>
                        <div class="info">
                            <a href="tel:+0123456789"><i class="lnr lnr-phone-handset"></i><span>+0123 456 789</span></a>
                        </div>
                        <div class="info">
                            <a href="mailto:hello@yoursite.com"><i class="lnr lnr-envelope"></i><span>office@yoursite.com</span></a>
                        </div>
                        <div class="info">
                            <p class="social pull-left">
                                <a class="no-margin" href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </p>
                        </div>
                    </div><!-- / contact-widget -->
                </div><!-- / widget -->
                <!-- / fourth widget -->

            </div><!-- / row -->
        </div><!-- / container -->
    </div><!-- / widget-area -->
    <div class="footer-info">
        <div class="container">
                <div class="pull-left">
                    <p> 2016 - <strong>inCart</strong> - Responsive Shop Theme.</p>
                </div>
                <span class="pull-right">
                    <img src="images/visa.png" alt="">
                    <img src="images/mastercard.png" alt="">
                    <img src="images/discover.png" alt="">
                    <img src="images/paypal.png" alt="">
                </span>
        </div><!-- / container -->
    </div><!-- / footer-info -->
</footer>
<!-- / footer -->

<!-- javascript -->
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- preloader -->
<script src="js/preloader.js"></script>
<!-- / preloader -->

<!-- / javascript -->
</body>

</html>