<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there</h1>
    <p>You just order with Colonel-Bois<br></p>
    <p>Have fun with your brand new wood joujou.</p>
    <p>kissouille</p><br />

  </body>
</html>
