<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey there</h1>
    <p>You just register for the Colonel-Bois news-letter<br></p>
    <p>Many brands new woods joujous belong to you now.</p>
    <p>kissouille</p><br />

  </body>
</html>