@import 'variables';
/* Media Screens */

@media only screen and (max-width: 1200px) {

#newsletter .input-group {
    width: 80%;
}
}

@media only screen and (max-width: 991px) {

.split-menu .pull-left {
    float: none !important;
}

.split-menu .navbar-brand {
    display: block;
}

.split-menu .pull-right {
    float: none !important;
}

.split-menu .navbar-nav {
    float: none;
}

.split-menu .navbar-nav>li {
    float: none;
    display: inline-block;
}

.nav > li > a {
    padding: 12.5px 10px;
}

.open .dropdown-menu>li>a {
    font-size: 14px;
}

.feature.block {
    margin-bottom: 30px;
}

.log-line .checkbox label {
    padding-left: 8px;
}

.widget-area .col-md-4, .widget-area .col-md-3  {
    padding: 15px;
}

.post-footer .pull-left, .post-footer .pull-right {
    display: block;
    float: none !important;
    margin-bottom: 15px;
}

#map {
    height: 400px;
}
}

@media only screen and (max-width: 767px) {

.title-description {
    width: 80%;
    margin: 15px auto 30px auto;
}

.top-menu .left {
    float: none;
    display: block;
    text-align: center;
}

.top-menu .right {
    float: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.top-menu p {
    padding: 8px 0;
}

.navbar-brand {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    height: 50px;
    padding: 15px 15px;
}

.open .dropdown-menu>li>a {
    padding: 5px 20px;
    text-align: center;
    max-width: 300px;
}

.navbar-nav .open .dropdown-menu {
    max-width: 160px;
    margin: 0 auto;
}

.navbar-nav .open .dropdown-menu>li>a {
    font-size: 12px;
    padding: 5px 0;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
    color: $primary;
    background-color: transparent;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover {
    color: $primary-hover;
    background-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: $primary;
    background-color: transparent;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>.active>a, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>.active>a:hover {
    color: $primary-hover;
    background-color: transparent;
}

.navbar-inverse .dropdown-menu .divider {
    height: 1px;
    margin: 3px 0;
    background-color: $dark-grey !important;
}

.navbar .btn {
    margin: 7px 0 20px 0;
}

#slider .slider-content {
    padding: 130px 0;
}

#slider .item {
    min-height: 440px;
}

header h3 {
    font-size: 30px;
}

header h5 {
    font-size: 16px;
}

header p {
    font-size: 14px;
}

#newsletter .input-group {
    width: 100%;
}

#contact-form-1 {
    margin-top: 30px;
}

.review-form input {
    width: 100%;
}

.tab-content table > tbody > tr > th {
    width: 120px;
    max-width: 120px;
}

.sidebar-area {
    padding: 30px 15px;
}

.widget {
    padding: 0 15px;
}

.update-cart {
    text-align: left;
    padding: 0;
}

.update-cart .btn {
    margin: 15px 0 !important;
}

.checkout-total {
    margin-top: 30px;
}

.testimonial {
    margin-bottom: 30px;
}

.team {
    margin-bottom: 30px;
}

#login-form {
    margin-bottom: 30px;
}

.cart-checkout {
    text-align: left;
    padding: 0;
    margin-top: 20px;
}

.cart-checkout .btn {
    margin-left: 0 !important;
}

.blog-sidebar {
    padding: 50px 30px 0 30px;
}

.location {
    margin-bottom: 30px;
}

#map {
    height: 360px;
}

.account-sidebar {
    text-align: center;
    margin-bottom: 30px;
}

.account-sidebar img {
    margin-left: auto;
}

.footer-info {
    text-align: center;
    line-height: 1.8;
}

.footer-info .pull-left {
    float: none !important;
    display: block;
}

.footer-info .pull-right {
    float: none !important;
    display: block;
}

.footer-info p {
    padding: 10px 0 0 0;
}

.spinner {
    left: 46%;
}
}

@media only screen and (max-width: 600px) {

.title-description {
    width: 100%;
    margin: 15px auto 30px auto;
}

#contactForm .form-control {
    margin-bottom: 20px;
    padding: 10px;
    min-height: 40px;
}

#contactForm textarea {
    padding: 15px 10px !important;
}

#contact-form-1 .btn-form-submit {
    padding: 9px;
}

.help-block {
    margin-top: 20px;
}

.help-block.with-errors li {
    margin-top: -20px;
}

#map {
    height: 250px;
}

.spinner {
    left: 45%;
}
}

@media only screen and (max-width: 580px) {

.product-hover-tools {
    bottom: 100px;
}

.product:hover .product-hover-tools {
    bottom: 100px;
}
}

@media only screen and (max-width: 480px) {

a {
    font-size: 12px;
}

.top-menu a span {
    display: none;
}

#slider .slider-content {
    padding: 70px 0;
}

#slider .item {
    min-height: 300px;
}

header h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.header-brand {
    font-size: 26px;
}

header p {
    font-size: 12px;
    padding: 10px 0;
}

#shop .col-xs-6 {
    width: 100%;
}

.shop-results .pull-right {
    float: none !important;
    display: block;
}

.selectpicker {
    margin-top: 15px;
}

.product-hover-tools {
    bottom: 80px;
}

.product:hover .product-hover-tools {
    bottom: 80px;
}

#map {
    height: 200px;
}
}


/* Min Widths */

@media only screen and (min-width: 1200px) {

.container {
    min-width: 1200px !important;
    padding: 0;
    margin: 0 auto;
}
}

@media only screen and (min-width: 992px) {

.container {
    min-width: 992px;
}
}

@media only screen and (min-width: 768px) {

.container {
    min-width: 768px;
}

.navbar-nav {
    float: right;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
}

.navbar-nav>li>a {
    padding-top: 30px;
    padding-bottom: 30px;
}
}

/* End Min Widths */

/* / End Media Screens */