@import 'variables';
/* Tabs & Accordions */

/* Tabs */

.nav-tabs {
    border-bottom: 2px solid $light-grey;
}

.nav-tabs > li {
    float: none;
    margin-bottom: -2px;
    display: inline-block;
}

.nav-tabs>li>a {
    position: relative;
    z-index: 0;
    display: block;
    color: $text-color;
    text-decoration: none;
    font-weight: $bold;
    margin-right: 0;
    padding: 20px;
    line-height: 1.5;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

.nav-tabs > li > a:focus {
    background: transparent;
    border: 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: $primary;
    background: none;
    border: none;
    border-bottom: 2px solid $primary !important;
    -webkit-transition: 0s;
    -moz-transition: 0s;
    -o-transition: 0s;
    transition: 0s;
}

.nav > li > a:hover {
    background: none;
    border: none;
}

.nav-pills.text-right>li {
    float: right;
}

.nav.nav-pills a:hover {
    color: $white;
    background: $primary-hover;
}

.tab-content {
    padding-top: 30px;
}

/* / End Tabs */

/* Accordions */

.panel-group .panel {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}

.panel-group .panel-heading {
    padding: 15px 0;
    border: none;
    border-radius: 0;
}

.panel-group .panel-title {
    font-size: 14px;
    font-weight: $medium;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.panel-group .panel-heading>a:after {
    display: inline-block;
    vertical-align: middle;
    font-family: "FontAwesome";
    font-size: 16px;
    content: "\f0d8";
    margin-top: -2px;
    margin-left: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.panel-group .panel-heading .panel-title.collapsed:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel-group .panel-body {
    padding: 15px 0;
}

.panel-group.tabbed .panel-heading{
    background: $bg-color;
    border: 1px solid $light-grey;
    border-radius: 5px;
    padding: 15px;
}

.panel-group.tabbed a {
    color: $text-color;
}

.panel-group.tabbed .panel-heading>a:after {
    float: right;
}

.panel-group.tabbed .panel-heading .panel-title.collapsed:after {
    float: right;
    margin-top: 2px;
}

/* / End Accordions */

/* / End Tabs & Accordions */